.btn-upload-photo{
    width: 80%;
    height: 250px;
    background-color: #6095c9;
    border: #294969 solid 1px;
    color: rgb(221, 221, 221);
    margin: 0 auto;
}
.text-input-form{
    background-color: #f1f1ec;
    border: #294969 solid 1px;
}
.example-track{
    border:solid 5px #294969;
}
.example-thumb{
    padding-top:24px;
    position: relative;
}
.example-thumb::after{
    position: absolute;
    top:-50%;
    left: 0%;
    display: block;
    content: '';
    width: 10px;
    height:50px;
    background-color: #6095c9;
    border: #294969 solid 1px;
}
.example-thumb.example-thumb-0{
    top:7px;
} 